ags
device_automounter_kcmrc
gtk-4.0
libreoffice
qalculate
systemsettingsrc
akregatorrc
discord
gtkrc
lobster
qt5ct
Thunar
arduino-ide
Discord
gtkrc-2.0
Meltytech
qt6ct
tool_state
'Arduino IDE'
discoverrc
gwenviewrc
menus
QtProject.conf
trashrc
autostart
dolphinrc
mimeapps.list
unity3d
baloofileinformationrc
drkonqirc
mirror
user-dirs.dirs
baloofilerc
Electron
hyprwall
ModrinthApp
sddmthemeinstallerrc
user-dirs.locale
bitburner
electron-builder.json
ibus
mpv
Shotcutrc
Vencord
bluedevilglobalrc
eog
Insomnia
musikcube
soffice.binrc
vesktop
breezerc
isoimagewriterrc
ngrok
Softdeluxe
VirtualBox
filetypesrc
k3brc
NuGet
spectaclerc
vlc
fontconfig
kactivitymanagerdrc
wallust
cef_user_data
GIMP
kactivitymanagerd-statsrc
nwg-look
waybar
chromium
glib-2.0
kalarmrc
obs-studio
wlogout
cmus
go
kalarmresources
powerdevilrc
stetic
xbuild
coc
godot
kew
powermanagementprofilesrc
swappy
xdg-desktop-portal-kderc
com.modrinth.theseus
google-chrome
procps
sway
xfce4
config.json
gthumb
Kitware
protonvpn
xsettingsd
csharp.history
gtk-2.0
Kvantum
pulse
systemd
yay
dconf
gtk-3.0
libaccounts-glib
pupgui
systemmonitorrc
zsh
